#WeekContent > div{
    width: calc(100% / 6 - 10px);
    display: inline-block;
    padding: 10px;
    background: rgba(0,0,0,0.5);
    margin: 5px;
    border-radius: 4px;
    min-height: 200px;
}
#WeekContent > div h4{
    color: #fff;
    font-size: 20px;
    text-align: center;
}
#WeekContent > div img{
    margin: auto;
    display: block;
}
#WeekContent > div .maxMin{
    display: table;
    margin: auto;
}
#WeekContent > div .maxMin span{
    display: inline-block;
    color: #fff;
    padding: 1px;
    font-size: 10px;
}
#WeekContent > div .description{
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
