header{
    text-align: center;
}
header h2{
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px #000;
}
header img{
    width: 150px;
    display: none;
}
header .grades{
    color: #fff;
    font-size: 15px;
}
header .grades span{
    font-size: 75px;
    position: relative;
    top: 14px;
}
header .description{
    color: #fff;
    font-size: 25px;
    text-transform: capitalize;
    margin-top: 0;
}
header hr{
    border: none;
    border-bottom: solid 1px #fff;
    opacity: 0.3;
}
header .forecast span{
    font-size: 25px;
}
header .forecast span i{
    font-size: 15px;
    font-style: normal;
}
header .forecast span:first-child{
    display: block;
}
header .forecast span.min{
    padding-right: 25px;
    font-size: 45px;
}
header .forecast span.max{
    font-size: 45px;
    padding-left: 25px;
}
